@using (Html.BeginForm())
{
   <div class="text-center">
    <label for="temperature">From:</label>
        <select name="temperature" id="temperature">
            <option value="Celsius">Celsius</option>
            <option value="Kelvin">Kelvin</option>
            <option value="Fahrenheit">Fahrenheit</option>
        </select>
         <select name="temperature2" id="temperature2">
            <option value="Celsius">Celsius</option>
            <option value="Kelvin">Kelvin</option>
            <option value="Fahrenheit">Fahrenheit</option>
        </select>
     <input type="number" id="ans" name="ans">
     <input type="submit" value="Convert">
     <label for="temprature2">To:</label>
   Output: @ViewData["ans"]
   </div>
}